[submodule "dwm"]
	path = dwm
	url = https://git.suckless.org/dwm
[submodule "dwmblocks-async"]
	path = dwmblocks-async
	url = https://github.com/UtkarshVerma/dwmblocks-async.git
[submodule "dwm-flexipatch"]
	path = dwm-flexipatch
	url = https://github.com/bakkeby/dwm-flexipatch.git
